/*Colors:
#104F55
#32746D
#9EC5AB
#01200F
#011502
*/

html{
	color:#011502;
	font-family: 'Montserrat', sans-serif;
}

body{
	background-image: url("../images/felix-besombes-763390-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

h1{
	font-size:36px;
	font-weight:bold;
}

.content{
	background-color:#9EC5AB;
	width:70%;
	padding:20px;
	margin:20px auto;
}

#schedule{
border-radius: 10px;
}

label{
	padding: 6px 15px;
	letter-spacing: 1.5px;
	
}

#schedule-body{
	margin-bottom: 30px;
}

.jumbotron{
	background-color: rgba(112,	214, 255, .6);
	line-height: 2;
}

h1.text-center{
	font-family: 'Strait', sans-serif;
	font-size: 75px;
	color: #B02E0C;
}

p.text-center{
	font-size: 30px;
	color: #191716;
}

h2.card-title{
	letter-spacing: 1.5px;
}

.card-header{
	background-color: #FFD23F;
}

.card{
	background-color: rgba(224, 226, 219, 0.7);
}

.card-header{
background-color: 	rgba(25, 23, 22, 1);
color: #70D6FF;
border: 3px solid #191716;
border-radius: 10px;
letter-spacing: 2px;
}

.form-control{
	margin: 0px 15px;
	background-color: rgba(255, 255, 255, .6);
	color: #191716;
}

#add-user{
	background-color: #191716;
	color: #B02E0C;
}

.card-title{
	margin-right: 0px 40px;
}
#train-schedule{
	background-color: rgba(224, 226, 219, 0.7);
}

#current-time{
	background-color: #011502;
	color: #70D6FF;
}